<input type="radio" name="skill-group" id="tab-str" class="skill-radio" checked>
<input type="radio" name="skill-group" id="tab-agi" class="skill-radio">
<input type="radio" name="skill-group" id="tab-cha" class="skill-radio">
<input type="radio" name="skill-group" id="tab-edu" class="skill-radio">
<input type="radio" name="skill-group" id="tab-ins" class="skill-radio">

<div class="skill-tabs">
  <label for="tab-str" class="skill-tab-label">{{localize 'LOTM.Ability.Str.abbr'}}</label>
  <label for="tab-agi" class="skill-tab-label">{{localize 'LOTM.Ability.Agi.abbr'}}</label>
  <label for="tab-cha" class="skill-tab-label">{{localize 'LOTM.Ability.Cha.abbr'}}</label>
  <label for="tab-edu" class="skill-tab-label">{{localize 'LOTM.Ability.Edu.abbr'}}</label>
  <label for="tab-ins" class="skill-tab-label">{{localize 'LOTM.Ability.Ins.abbr'}}</label>
</div>

<div class="skills-list content-str">
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Climb'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Throwing' }}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Intimidation'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Jump' }}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Beast-Taming' }}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Fighting'}}: type1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Fighting'}}: type2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Str.Fighting'}}: type2</span>
    <span class="skill-value">1</span>
  </div>
</div>

<div class="skills-list content-cha">
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Please'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Deception'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Speech'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Persuasion'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Psychoanalysis'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Act'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Disguise'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Cha.Credibility'}}</span>
    <span class="skill-value">1</span>
  </div>
</div>

<div class="skills-list content-agi">
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Stealth'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Sleight-Of-Hand'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Swim'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Shoot'}}: 1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Shoot'}}: 2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Shoot'}}: 3</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Gunnery'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Locksmith'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Drive'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Heavy-Machinery'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Dodge'}}</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">{{localize 'LOTM.Skills.Agi.Extra-Dodge'}}</span>
    <span class="skill-value">1</span>
  </div>
</div>

<div class="skills-list content-edu">
  <div class="skill-item">
    <span class="skill-name">Pilot</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Trade</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Medicine</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Library use?</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Write</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Blast (?)</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Survive</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 3</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 4</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 5</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Knowledge: 6</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Mystical language: 1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Mystical language: 2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Mystical language: 3</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Mystical language: 4</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Common phrases: 1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Common phrases: 2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Common phrases: 3</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Common phrases: 4</span>
    <span class="skill-value">1</span>
  </div>
</div>

<div class="skills-list content-ins">
  <div class="skill-item">
    <span class="skill-name">Listening</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Investigation</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Mechanical Repair</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Occultism</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Psychology</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Cooking</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Art 1</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Art 2</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Art 3</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Tracking</span>
    <span class="skill-value">1</span>
  </div>
  <div class="skill-item">
    <span class="skill-name">Read the lips</span>
    <span class="skill-value">1</span>
  </div>
</div>