<header class="header">
  <div class="toggle-buttons">
    <label class="toggle-checkbox">
      <input type="checkbox" data-dtype="Boolean" name="actor.system.editable" {{checked actor.system.editable}}>
      <span class="checkbox-label">Edit</span>
    </label>
    <label class="toggle-checkbox">
      <input type="checkbox" data-dtype="Boolean" name="actor.system.isBeyonder.value" {{checked
        actor.system.isBeyonder.value}}>
      <span class="checkbox-label">Beyonder</span>
    </label>
  </div>

  {{!-- Name & Pathway - Sequence --}}
  <h1 class="character-name">{{actor.name}}</h1>
  {{#if actor.system.isBeyonder.value}}
    {{#if actor.system.editable}}
    <select name="system.pathway.name">
      {{selectOptions config.LOTM.pathways selected=system.pathway.name valueAttr="key" labelAttr="name"}}
      </select>
    {{else}}
    {{#if system.pathway.name}}
      {{#with (lookup config.LOTM.pathways system.pathway.name)}}
        <p class="character-class">{{name}}</p>
      {{/with}}
    {{/if}}
    {{/if}}
  {{/if}}

</header>