<div class="main-content">
  <div class="left-stats">
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Agi.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.agi.value" value="{{abilities.agi.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.agi.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Cha.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.cha.value" value="{{abilities.cha.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.cha.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Edu.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.edu.value" value="{{abilities.edu.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.edu.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Ins.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.ins.value" value="{{abilities.ins.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.ins.value}}</>
        {{/if}}
    </div>
  </div>

  <!-- Center character portrait -->
  <div class="center-portrait">
    <div class="portrait-circle">
      <img src="{{actor.img}}">
    </div>
    <div class="sequence-info">
      {{#if editable}}
        <select name="system.path.sequence">
          {{selectOptions selectedPath selected=path.sequence valueAttr="name" labelAttr="name"}}
        </select>
      {{else}}
        <div class="sequence-number">{{path.sequence}}</div>
      {{/if}}
    </div>
  </div>

  <!-- Right stats -->
  <div class="right-stats">
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Lck.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.lck.value" value="{{abilities.lck.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.lck.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Phy.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.phy.value" value="{{abilities.phy.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.phy.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Str.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.str.value" value="{{abilities.str.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.str.value}}</>
        {{/if}}
    </div>
    <div class="stat-box">
      <span class="stat-label">{{localize 'LOTM.Ability.Wll.long'}}</span>
      {{#if editable}}
      <input type="text" name="system.abilities.wll.value" value="{{abilities.wll.value}}" data-dtype="Number" />
      {{else}}
      <span class="stat-value">{{abilities.wll.value}}</>
        {{/if}}
    </div>
  </div>
</div>